<!DOCTYPE html>
<html>
<head>
  <title>Bowlingscore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="content">
  <% flash.each do |key, value| %>
    <div class ="row">
      <div class="span8">
        <div class ="flash" id= '<%=key %>'><%= value %></div>
      </div>
    </div>
  <% end if @bowling && !@bowling.errorMessage.empty? %>


<%= yield %>

</body>
</div>
</html>
